@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@using SprintRecord.Models
@using SprintRecord.Services
@inject SprintContext  Context
@inject SprintService  sprintService

<style>
    .button {
        background-color: #525288;
        border: none;
        color: white;
        padding: 10px 22px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 8px 4px;
        cursor: pointer;
    }
    .extraPadding {
        padding: 10px 0px 10px 0px;
    }
    .card {

    }
</style>


<a class="button" asp-page="./CreateTeam">Add Team</a>
<button id="AddDeveloperBtn" class="button">Add Developer</button>
<a class="button" asp-page="./CreateSprint">Add Sprints</a>
<form id="AddDeveloperForm" hidden="hidden" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="NewDeveloper.Name" class="control-label"></label>
        <input asp-for="NewDeveloper.Name" class="form-control" />
        <span asp-validation-for="NewDeveloper.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>


<div class="card-columns extraPadding">
    @foreach (var item in Context.Teams.ToList())
    {
        @if (sprintService.GetSprints(item.Id).Count != 0)
        {
            <div class="card" style="border-color:#525288">
                <div class="card-body">
                    <div class="card-text">Team: </div>
                    <h4 class="card-title">@item.Name</h4>
                    <div class="text-body">Total Sprints: @sprintService.GetSprints(item.Id).Count</div>
                    <div class="text-body">Average Velocity: @sprintService.GetTeamOverview(item.Id).AverageVelocity</div>
                    <a asp-page="./TeamDetail" asp-route-id="@item.Id">See Detail</a>
                </div>
            </div>
        }
        else
        {
            <div class="card">
                <div class="card-body">
                    <div class="card-text">Team: </div>
                    <h4 class="card-title">@item.Name</h4>
                    <div class="text-body">This is a new team with no sprints!</div>
                    <a asp-page="./TeamDetail" asp-route-id="@item.Id">See Detail</a>
                </div>
            </div>
        }
    }
</div>



<script src="_framework/blazor.server.js"></script>
<script>
    document.getElementById("AddDeveloperBtn").addEventListener("click", ExpandAddDeveloperPanel);

    function ExpandAddDeveloperPanel() {
        document.getElementById("AddDeveloperForm").hidden = !document.getElementById("AddDeveloperForm").hidden;
        if (document.getElementById("AddDeveloperBtn").textContent == "Collapse") {
            document.getElementById("AddDeveloperBtn").textContent = "Add Developer";
        }
        else {
            document.getElementById("AddDeveloperBtn").textContent = "Collapse";
        }

    }
</script>
