@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@using SprintRecord.Models
@using SprintRecord.Services
@inject SprintContext  dbContext
@inject SprintService  sprintService

<style>
    .button {
        background-color: #525288;
        border: none;
        color: white;
        padding: 10px 22px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 8px 4px;
        cursor: pointer;
    }
</style>


<a class="button" asp-page="./CreateTeam">Add Team</a>

<button id="AddDeveloperBtn" class="button">Add Developer</button>
<form id="AddDeveloperForm" hidden="hidden" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="NewDeveloper.Name" class="control-label"></label>
        <input asp-for="NewDeveloper.Name" class="form-control" />
        <span asp-validation-for="NewDeveloper.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
<a class="button" href="/TeamSprint/Index">Team Sprints</a>
<a class="button" href="/Sprint/Index">Sprints</a>


<div class="card-columns">
    @foreach (var item in dbContext.Teams.ToList())
    {
        <div class="card">
            <div class="card-body">
                <div class="card-text">Team: </div>
                <h4 class="card-title">@item.Name</h4>
                @if (sprintService.GetSprints(item.Id).Count != 0)
                {
                    <div class="text-body">Total Sprints: @sprintService.GetSprints(item.Id).Count</div>
                    <div class="text-body">Average Velocity: @sprintService.GetTeamStatus(item.Id).AverageVelocity</div>
                }
                else
                {
                    <div class="text-body">This is a new team with no sprints!</div>
                }
                <a asp-page="./TeamDetail" asp-route-id="@item.Id">See Detail</a>
            </div>
        </div>
    }
</div>

<h4>Developers List</h4>
@foreach (var dev in Model.AllDevelopers)
{
    <h6>@dev.Name</h6>
}



<script src="_framework/blazor.server.js"></script>
<script>
    document.getElementById("AddDeveloperBtn").addEventListener("click", ExpandAddDeveloperPanel);

    function ExpandAddDeveloperPanel() {
        document.getElementById("AddDeveloperForm").hidden = !document.getElementById("AddDeveloperForm").hidden;
        if (document.getElementById("AddDeveloperBtn").textContent == "Collapse") {
            document.getElementById("AddDeveloperBtn").textContent = "Add Developer";
        }
        else {
            document.getElementById("AddDeveloperBtn").textContent = "Collapse";
        }

    }
</script>
