@page "{id}"
@model SprintRecord.Pages.TeamDetailModel
@using SprintRecord.Models
@{
    ViewData["Title"] = "TeamDetail";
}
<style>
    .custom-select {
        position: relative;
        font-family: Arial;
    }

    .custom-select select {
        display: none; /*hide original SELECT element:*/
    }

    .column {
        width: 33.33%;
        float: left;
        padding: 15px;
    }

    .button {
        background-color: #525288;
        border: none;
        color: white;
        padding: 10px 22px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 8px 4px;
        cursor: pointer;
    }
</style>

<h1>@Model.TeamDetail.Team.Name</h1>

<button id="NewDevBtn" class="button">Create a New Developer</button>
<button id="LinkDevBtn" class="button">Add Existing Developer</button>

<div class="row" id="AddDevForm" hidden="hidden">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NewDeveloper.Name" class="control-label"></label>
                <input asp-for="NewDeveloper.Name" class="form-control" />
                <span asp-validation-for="NewDeveloper.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add This Developer" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="row" id="LinkDevForm" hidden="hidden">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" >
                <label asp-for="NewDeveloper.Name" class="control-label"></label>
                <select class="custom-select" multiple="multiple"  asp-for="@Model.SelectedDevelopers" asp-items="@Model.AllDevelopers"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Add these developer" class="btn btn-primary" asp-page-handler="Test" />
            </div>
        </form>
    </div>
</div>



<div class="column">
    <table class="table">
        <thead>
            <h5>Developers</h5>
        </thead>
        <tbody>
            @foreach (Developers developer in Model.TeamDetail.Developers)
            {
                <tr>
                    <div class="text-body">@developer.Name</div>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="column">
    <div><h5>Average Velocity: @Model.TeamDetail.AverageVelocity</h5></div>
    <div><h5>Total Sprints: @Model.TeamDetail.SprintCounts</h5></div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                <h4>Sprints List</h4>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sprint in Model.TeamDetail.Sprints)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => sprint.Name)
                </td>
                <td>
                    <div class="text-body">Capacity: @Model.TeamDetail.TeamSprints.Find(x => x.Sprintid == sprint.Id).Capacity</div>
                    <div class="text-body">Completed: @Model.TeamDetail.TeamSprints.Find(x => x.Sprintid == sprint.Id).Completed</div>
                </td>
                <td>
                    <a href="/teamsprint/Edit?id=@sprint.Id" >Edit</a> |
                    <a href="/teamsprint/Details?id=@sprint.Id">Details</a> |
                    <a href="/teamsprint/Delete?id=@sprint.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="_framework/blazor.server.js"></script>
<script>

    document.getElementById("NewDevBtn").addEventListener("click", ExpandAddDevPanel);
    document.getElementById("LinkDevBtn").addEventListener("click", ExpandLinkDevPanel);

    function ExpandAddDevPanel() {
        document.getElementById("AddDevForm").hidden = !document.getElementById("AddDevForm").hidden;
        if (document.getElementById("NewDevBtn").textContent == "Collapse") {
            document.getElementById("NewDevBtn").textContent = "Add Developer";
        }
        else {
            document.getElementById("NewDevBtn").textContent = "Collapse";
        }
    }

    function ExpandLinkDevPanel() {
        document.getElementById("LinkDevForm").hidden = !document.getElementById("LinkDevForm").hidden;
        if (document.getElementById("LinkDevBtn").textContent == "Collapse") {
            document.getElementById("LinkDevBtn").textContent = "Add Existing Developer";
        }
        else {
            document.getElementById("LinkDevBtn").textContent = "Collapse";
        }
    }
</script>
